/*Common*/
.selfFit{
  display:inline-block;
}

/*--button--*/

button[class*=dark] {
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=dark]:hover {
  background:rgb(0,50,120);
  color:rgb(0,130,220);
}
button[class*=dark]:active{
  -webkit-transition-duration: 0.1s;
  background:rgb(0,20,100);
  color:rgb(0,100,200);
}
/*--*/
button[class*=middle] {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=middle]:hover {
  background:rgb(0,120,220);
  color:rgb(190,230,255);
}
button[class*=middle]:active{
  -webkit-transition-duration: 0.1s;
  background:rgb(0,100,220);
  color:rgb(120,230,255);
}
/*--*/
button[class*=bright] {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=bright]:hover {
  color:rgb(20,120,230);
  background:rgb(160,230,255);
}
button[class*=bright]:active{
  -webkit-transition-duration: 0.1s;
  color:rgb(10,60,255);
  background:rgb(120,230,255);
}

/*--p--*/

p[class*=dark] {
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius:10px;
}
/*--*/
p[class*=middle] {
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius:10px;
}
/*--*/
p[class*=bright] {
  color:rgb(50,200,255);
  background:rgb(235,255,255);
  border-radius:10px;
}

/*--input - text--*/

input[class*=bright][type=text] {
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-style: solid;
  border-color: rgb(50,200,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=bright][type=text]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(150,230,255);
}
input[class*=bright][type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(235,255,255);
  opacity: 1;
}

input[class*=bright][type=text]:focus {
  outline: none !important;
  border-color: rgb(50,150,255) !important;
  color: rgb(50,150,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,150,255);
}

/*--*/

input[class*=middle][type=text] {
  color: rgb(50,150,255);
  background: rgb(200,220,255);
  border-style: solid;
  border-color: rgb(50,150,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=middle][type=text]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(50,190,255);
}
input[class*=middle][type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(50,190,255);
  opacity: 1;
}

input[class*=middle][type=text]:focus {
  outline: none !important;
  border-color: rgb(20,100,255) !important;
  color: rgb(20,100,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(10,100,255);
}

/*--*/

input[class*=dark][type=text] {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style: solid;
  border-color:rgb(50,180,220);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=dark][type=text]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(80,180,255);
}
input[class*=dark][type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(80,180,255);
  opacity: 1;
}

input[class*=dark][type=text]:focus {
  outline: none !important;
  border-color: rgb(30,160,220) !important;
  color: rgb(180,240,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,160,220);
}


/*--input - date - month - week - time --*/

input[class*=bright][type=date],[class*=bright][type=month],[class*=bright][type=week],[class*=bright][type=time] {
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-style: solid;
  border-color: rgb(50,200,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
input[class*=bright][type=date]:focus,[class*=bright][type=month]:focus,[class*=bright][type=week]:focus,[class*=bright][type=time]:focus {
  outline: none !important;
  border-color: rgb(50,150,255) !important;
  color: rgb(50,150,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,150,255);
}

/*--*/

input[class*=middle][type=date],[class*=middle][type=month],[class*=middle][type=week],[class*=middle][type=time] {
  color: rgb(50,150,255);
  background: rgb(200,220,255);
  border-style: solid;
  border-color: rgb(50,150,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
input[class*=middle][type=date]:focus,[class*=middle][type=month]:focus,[class*=middle][type=week]:focus,[class*=middle][type=time]:focus {
  outline: none !important;
  border-color: rgb(20,100,255) !important;
  color: rgb(20,100,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(10,100,255);
}

/*--*/

input[class*=dark][type=date],[class*=dark][type=month],[class*=dark][type=week],[class*=dark][type=time] {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style: solid;
  border-color:rgb(50,180,220);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=dark][type=date]:focus,[class*=dark][type=month]:focus,[class*=dark][type=week]:focus,[class*=dark][type=time]:focus {
  outline: none !important;
  border-color: rgb(30,160,220) !important;
  color: rgb(180,240,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,160,220);
}

/*--input - checkbox --*/

/*--input - checkbox --*/

input[class*=bright][type=checkbox]{
  cursor:pointer;
}
input[class*=bright][type=checkbox] + label {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class*=bright][type=checkbox]:hover, input[class*=bright][type=checkbox] + label:hover {
  -webkit-box-shadow: 1px 1px 5px rgb(205,255,255);
}
input[class*=bright][type=checkbox]:active, input[class*=bright][type=checkbox] + label:active{
  -webkit-transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 5px rgb(180,235,255);
}
input[class*=bright][type=checkbox]:checked + label{
  background:rgb(200,250,250);
  color:rgb(40,140,240);
}
input[class*=bright][type=checkbox]:checked:before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(20,150,255);
  border-radius: 3px;
  background: rgb(220,255,255);
  -webkit-transition: 0.35s;
}
input[class*=bright][type=checkbox]:not(checked):before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,150,255);
  border-radius: 3px;
  background: rgb(240,255,255);
}
input[class*=bright][type=checkbox]:not(checked):after {
  content: "";
  display: block;
  visibility: hidden;
  border: solid rgb(240,255,255); /*to hide the √ smoothly*/
  width: 0px;
  height: 0px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-5px,-12px) !important; 
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.35s;
}
input[class*=bright][type=checkbox]:checked:after {
  content: "";
  display: block;
  visibility: visible;
  width: 5px;
  height: 12px;
  border: solid rgb(50,150,255);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-8px,-15px) !important; 
  position: relative;

}
