/*Common*/
.selfFit{
  display:inline-block;
}

/*--button--*/

button[class*=dark] {
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=dark]:hover {
  background:rgb(0,50,120);
  color:rgb(0,130,220);
}
button[class*=dark]:active{
  -webkit-transition-duration: 0.1s;
  background:rgb(0,20,100);
  color:rgb(0,100,200);
}
/*--*/
button[class*=middle] {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=middle]:hover {
  background:rgb(0,120,220);
  color:rgb(190,230,255);
}
button[class*=middle]:active{
  -webkit-transition-duration: 0.1s;
  background:rgb(0,100,220);
  color:rgb(120,230,255);
}
/*--*/
button[class*=bright] {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=bright]:hover {
  color:rgb(20,120,230);
  background:rgb(160,230,255);
}
button[class*=bright]:active{
  -webkit-transition-duration: 0.1s;
  color:rgb(10,60,255);
  background:rgb(120,230,255);
}

/*--p--*/

p[class*=dark] {
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius:10px;
}
/*--*/
p[class*=middle] {
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius:10px;
}
/*--*/
p[class*=bright] {
  color:rgb(50,200,255);
  background:rgb(235,255,255);
  border-radius:10px;
}

/*--input - text--*/

input[class*=bright][type=text] {
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-style: solid;
  border-color: rgb(50,200,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=bright][type=text]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(150,230,255);
}
input[class*=bright][type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(235,255,255);
  opacity: 1;
}

input[class*=bright][type=text]:focus {
  outline: none !important;
  border-color: rgb(50,150,255) !important;
  color: rgb(50,150,255) !important;
}

/*--*/

input[class*=middle][type=text] {
  color: rgb(50,150,255);
  background: rgb(200,220,255);
  border-style: solid;
  border-color: rgb(50,150,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=middle][type=text]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(50,190,255);
}
input[class*=middle][type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(50,190,255);
  opacity: 1;
}

input[class*=middle][type=text]:focus {
  outline: none !important;
  border-color: rgb(20,100,255) !important;
  color: rgb(20,100,255) !important;
}

/*--*/

input[class*=dark][type=text] {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style: solid;
  border-color:rgb(50,180,220);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=dark][type=text]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(80,180,255);
}
input[class*=dark][type=text]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(80,180,255);
  opacity: 1;
}

input[class*=dark][type=text]:focus {
  outline: none !important;
  border-color: rgb(160,230,255) !important;
  color: rgb(160,230,255) !important;
}
