/*Common*/
.selfFit{
  display:inline-block;
}

/*--button--*/
[class*=bright]:is(button, input[type=submit]):not(:disabled) {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
[class*=bright]:is(button, input[type=submit]):hover:not(:disabled) {
  color:rgb(20,120,230);
  background:rgb(160,230,255);
}
[class*=bright]:is(button, input[type=submit]):active:not(:disabled){
  -webkit-transition-duration: 0.1s;
  color:rgb(10,60,255);
  background:rgb(120,230,255);
}
/*--*/
[class*=middle]:is(button, input[type=submit]):not(:disabled) {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
[class*=middle]:is(button, input[type=submit]):hover:not(:disabled) {
  background:rgb(0,120,220);
  color:rgb(190,230,255);
}
[class*=middle]:is(button, input[type=submit]):active:not(:disabled){
  -webkit-transition-duration: 0.1s;
  background:rgb(0,100,220);
  color:rgb(120,230,255);
}
/*--*/
[class*=dark]:is(button, input[type=submit]):not(:disabled) {
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
[class*=dark]:is(button, input[type=submit]):hover:not(:disabled) {
  background:rgb(0,50,120);
  color:rgb(0,130,220);
}
[class*=dark]:is(button, input[type=submit]):active:not(:disabled){
  -webkit-transition-duration: 0.1s;
  background:rgb(0,20,100);
  color:rgb(0,100,200);
}

/*-- button - disabled --*/

[class*=bright]:is(button, input[type=submit]):disabled {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
/*--*/
[class*=middle]:is(button, input[type=submit]):disabled {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
/*--*/
[class*=dark]:is(button, input[type=submit]):disabled {
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}

/*--p--*/

p[class*=bright] {
  color:rgb(50,200,255);
  background:rgb(235,255,255);
  border-radius:2px;
}
/*--*/
p[class*=middle] {
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius:2px;
}
/*--*/
p[class*=dark] {
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius:2px;
}

/*--h1 - h6--*/

[class*=bright]:is(h1, h2, h3, h4, h5, h6) {
  background:rgb(220,255,255);
  color:rgb(50,120,255);
  border-radius:2px; 
}
/*--*/
[class*=middle]:is(h1, h2, h3, h4, h5, h6) {
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius:2px;
}
/*--*/
[class*=dark]:is(h1, h2, h3, h4, h5, h6) {
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius:2px;
}

/*--p - round-border --*/

p[class*=bright][class*=round-border] {
  color:rgb(50,200,255);
  background:rgb(235,255,255);
  border-radius:10px;
}
/*--*/
p[class*=middle][class*=round-border] {
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius:10px;
}
/*--*/
p[class*=dark][class*=round-border] {
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius:10px;
}

/*--h1 - h6 - round-border --*/

[class*=bright][class*=round-border]:is(h1, h2, h3, h4, h5, h6) {
  background:rgb(220,255,255);
  color:rgb(50,120,255);
  border-radius:20px; 
}
/*--*/
[class*=middle][class*=round-border]:is(h1, h2, h3, h4, h5, h6) {
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius:20px;
}
/*--*/
[class*=dark][class*=round-border]:is(h1, h2, h3, h4, h5, h6) {
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius:20px;
}

/*--input - text - password - search - url - tel - email - color --*/

input[class*=bright]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled) {
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-style: solid;
  border-color: rgb(50,200,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=bright]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled)::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(150,230,255);
}
input[class*=bright]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled)::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(235,255,255);
  opacity: 1;
}

input[class*=bright]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled):focus {
  outline: none !important;
  border-color: rgb(50,150,255) !important;
  color: rgb(50,150,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,150,255);
}

/*--*/

input[class*=middle]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled) {
  color: rgb(50,150,255);
  background: rgb(200,220,255);
  border-style: solid;
  border-color: rgb(50,150,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=middle]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled)::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(50,190,255);
}
input[class*=middle]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled)::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(50,190,255);
  opacity: 1;
}

input[class*=middle]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled):focus {
  outline: none !important;
  border-color: rgb(20,100,255) !important;
  color: rgb(20,100,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(10,100,255);
}

/*--*/

input[class*=dark]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled) {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style: solid;
  border-color:rgb(50,180,220);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=dark]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled)::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(80,180,255);
}
input[class*=dark]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):not(:disabled)::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(80,180,255);
  opacity: 1;
}

input[class*=dark]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):focus:not(:disabled) {
  outline: none !important;
  border-color: rgb(30,160,220) !important;
  color: rgb(180,240,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,160,220);
}

/*--input - disabled - text--*/

input[class*=bright]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled {
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-style: dotted;
  border-color: rgb(50,200,255);
  border-radius: 5px;
  filter:grayscale(40%);
  cursor:not-allowed;
}

input[class*=bright]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(150,230,255);
}
input[class*=bright]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(235,255,255);
  opacity: 1;
}

/*--*/

input[class*=middle]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled {
  color: rgb(50,150,255);
  background: rgb(200,220,255);
  border-style: dotted;
  border-color: rgb(50,150,255);
  border-radius: 5px;
  filter:grayscale(40%);
  cursor:not-allowed;
}

input[class*=middle]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(50,190,255);
}
input[class*=middle]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(50,190,255);
  opacity: 1;
}

/*--*/

input[class*=dark]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style: dotted;
  border-color:rgb(50,180,220);
  border-radius: 5px;
  filter:grayscale(40%);
  cursor:not-allowed;
}

input[class*=dark]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(80,180,255);
}
input[class*=dark]:is([type=text],[type=password],[type=search],[type=url],[type=tel],[type=email],[type=number]):disabled::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(80,180,255);
  opacity: 1;
}


/*--input - date - month - week - time - datetime - datetime-local --*/

input[class*=bright]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):not(:disabled) {
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-style: solid;
  border-color: rgb(50,200,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
input[class*=bright]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):focus:not(:disabled) {
  outline: none !important;
  border-color: rgb(50,150,255) !important;
  color: rgb(50,150,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,150,255);
}

/*--*/

input[class*=middle]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):not(:disabled) {

  color: rgb(50,150,255);
  background: rgb(200,220,255);
  border-style: solid;
  border-color: rgb(50,150,255);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
input[class*=middle]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):focus:not(:disabled) {
  outline: none !important;
  border-color: rgb(20,100,255) !important;
  color: rgb(20,100,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(10,100,255);
}

/*--*/

input[class*=dark]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):not(:disabled) {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style: solid;
  border-color:rgb(50,180,220);
  border-radius: 5px;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}

input[class*=dark]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):focus:not(:disabled) {
  outline: none !important;
  border-color: rgb(30,160,220) !important;
  color: rgb(180,240,255) !important;
  -webkit-box-shadow: 1px 1px 5px rgb(30,160,220);
}

/*--input - date - month - week - time - datetime - datetime-local - disabled --*/

input[class*=bright]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):disabled {
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-style: dotted;
  border-color: rgb(50,200,255);
  border-radius: 5px;
  filter:grayscale(40%);
  cursor:not-allowed;
}

/*--*/

input[class*=middle]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):disabled {

  color: rgb(50,150,255);
  background: rgb(200,220,255);
  border-style: dotted;
  border-color: rgb(50,150,255);
  border-radius: 5px;
  filter:grayscale(40%);
  cursor:not-allowed;
}

/*--*/

input[class*=dark]:is([type=date],[type=month],[type=week],[type=time],[type=datetime],[type=datetime-local]):disabled {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style: dotted;
  border-radius: 5px;
  border-color:rgb(50,180,220);
  filter:grayscale(40%);
  cursor:not-allowed;
}

/*--input - checkbox --*/

input[class*=bright][type=checkbox]:not([class*=switch]):not(:disabled) {
  cursor:pointer;
}
input[class*=bright][type=checkbox]:not([class*=switch]):not(:disabled) + label {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class*=bright][type=checkbox]:not([class*=switch]):not(:disabled):hover, input[class*=bright][type=checkbox]:not(:disabled) + label:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(205,255,255);
}
input[class*=bright][type=checkbox]:not([class*=switch]):not(:disabled):active, input[class*=bright][type=checkbox] + label:active {
  -webkit-transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 5px rgb(180,235,255);
}
input[class*=bright][type=checkbox]:not([class*=switch]):not(:disabled):checked + label {
  background:rgb(200,250,250);
  color:rgb(40,140,240);
}
input[class*=bright][type=checkbox]:not([class*=switch]):checked:not(:disabled)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(20,150,255);
  background: rgb(220,255,255);
  -webkit-transition: 0.35s;
}
input[class*=bright][type=checkbox]:not([class*=switch]):not(checked):not(:disabled)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,150,255);
  border-radius: 3px;
  background: rgb(240,255,255);
}
input[class*=bright][type=checkbox]:not([class*=switch]):not(checked):not(:disabled)::after {
  content: "";
  display: block;
  visibility: hidden;
  border: solid rgb(240,255,255); /*to hide the √ smoothly*/
  width: 0px;
  height: 0px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-5px,-12px) !important; 
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.35s;
}
input[class*=bright][type=checkbox]:not([class*=switch]):checked:not(:disabled)::after {
  content: "";
  display: block;
  visibility: visible;
  width: 5px;
  height: 12px;
  border: solid rgb(50,150,255);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-8px,-15px) !important; 
  position: relative;

}

/*--*/

input[class*=middle][type=checkbox]:not([class*=switch]):not(:disabled) {
  cursor:pointer;
}
input[class*=middle][type=checkbox]:not([class*=switch]):not(:disabled) + label {
  color:rgb(10,50,255);
  background:rgb(150,220,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class*=middle][type=checkbox]:not([class*=switch]):not(:disabled):hover, input[class*=middle][type=checkbox]:not(:disabled) + label:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(150,220,255);
}
input[class*=middle][type=checkbox]:not([class*=switch]):not(:disabled):active, input[class*=middle][type=checkbox] + label:active {
  -webkit-transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 5px rgb(150,220,255);
}
input[class*=middle][type=checkbox]:not([class*=switch]):not(:disabled):checked + label {
  background:rgb(120,210,255);
  color:rgb(10,10,255);
}
input[class*=middle][type=checkbox]:not([class*=switch]):checked:not(:disabled)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,100,255);
  background: rgb(180,220,255);
  -webkit-transition: 0.35s;
}
input[class*=middle][type=checkbox]:not([class*=switch]):not(checked):not(:disabled)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,130,240);
  border-radius: 3px;
  background: rgb(200,240,255);
}
input[class*=middle][type=checkbox]:not([class*=switch]):not(checked):not(:disabled)::after {
  content: "";
  display: block;
  visibility: hidden;
  border: solid rgba(150,220,255,0); /*to hide the √ smoothly*/
  width: 0px;
  height: 0px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-5px,-12px) !important; 
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.35s;
}
input[class*=middle][type=checkbox]:not([class*=switch]):checked:not(:disabled)::after {
  content: "";
  display: block;
  visibility: visible;
  width: 5px;
  height: 12px;
  border: solid rgb(50,50,255);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-8px,-15px) !important; 
  position: relative;

}

/*--*/

input[class*=dark][type=checkbox]:not([class*=switch]){
  cursor:pointer;
}
input[class*=dark][type=checkbox]:not([class*=switch]):not(:disabled) + label {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class*=dark][type=checkbox]:not([class*=switch]):not(:disabled):hover, input[class*=dark][type=checkbox]:not(:disabled) + label:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(50,100,205);
}
input[class*=dark][type=checkbox]:not([class*=switch]):not(:disabled):active, input[class*=dark][type=checkbox]:not(:disabled) + label:active {
  -webkit-transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 5px rgb(50,100,205);
}
input[class*=dark][type=checkbox]:not([class*=switch]):not(:disabled):checked + label {
  color: rgb(120,230,255);
  background: rgb(20,90,205);
}
input[class*=dark][type=checkbox]:not([class*=switch]):checked:not(:disabled)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(20,90,205);
  background: rgb(100,180,255);
  -webkit-transition: 0.35s;
}
input[class*=dark][type=checkbox]:not([class*=switch]):not(checked):not(:disabled)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,50,255);
  border-radius: 3px;
  background: rgb(160,200,255);
}
input[class*=dark][type=checkbox]:not([class*=switch]):not(checked):not(:disabled)::after {
  content: "";
  display: block;
  visibility: hidden;
  border: solid rgba(50,100,205,0); /*to hide the √ smoothly*/
  width: 0px;
  height: 0px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-5px,-12px) !important; 
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.35s;
}
input[class*=dark][type=checkbox]:not([class*=switch]):checked:not(:disabled)::after {
  content: "";
  display: block;
  visibility: visible;
  width: 5px;
  height: 12px;
  border: solid rgb(20,10,255);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-8px,-15px) !important; 
  position: relative;

}

/*--input - checkbox - disabled --*/

input[class*=bright][type=checkbox]:not([class*=switch]):disabled {
  cursor:not-allowed;
}
input[class*=bright][type=checkbox]:not([class*=switch]):disabled + label {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class*=bright][type=checkbox]:not([class*=switch]):disabled::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,150,255);
  border-radius: 3px;
  background: rgb(240,255,255);
  filter:grayscale(60%);
}

/*--*/

input[class*=middle][type=checkbox]:not([class*=switch]):disabled {
  cursor:not-allowed;
}
input[class*=middle][type=checkbox]:not([class*=switch]):disabled + label {
  color:rgb(10,50,255);
  background:rgb(150,220,255);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class*=middle][type=checkbox]:not([class*=switch]):disabled::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,130,240);
  border-radius: 3px;
  background: rgb(200,240,255);
  filter:grayscale(60%);
}

/*--*/

input[class*=dark][type=checkbox]:not([class*=switch]):disabled {
  cursor:not-allowed;
}
input[class*=dark][type=checkbox]:not([class*=switch]):disabled + label {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class*=dark][type=checkbox]:not([class*=switch]):disabled::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,50,255);
  border-radius: 3px;
  background: rgb(160,200,255);
  filter:grayscale(60%);
}

/*-- input - checkbox - switch --*/

input[type=checkbox][class*=bright][class*=switch]:not(:disabled){
  width: 50px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=bright][class*=switch]:not(:disabled) + label {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-radius: 5px;
}
input[type=checkbox][class*=bright][class*=switch]:not(:disabled)::before{
  content: "\00A0on";
  color:rgb(50,200,255);
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  border: 2px solid rgb(50,200,255);
  border-radius: 10px;
  background: rgb(240,255,255);
  -webkit-transform: translate(0px,-2px) !important;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=bright][class*=switch]:checked:not(:disabled)::before{
  border-color:rgb(50,150,255);
  background: rgb(220,255,255);
}
input[type=checkbox][class*=bright][class*=switch]:not(:disabled)::after{
  content: "";
  display: block;
  position: relative;
  background: rgb(50,200,255);
  width:30px;
  height:17px;
  border-radius:10px;
  -webkit-transform: translate(0px,-20px) !important;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=bright][class*=switch]:not(:disabled):checked::after{
  -webkit-transform: translate(23px,-20px) !important;
  background: rgb(50,150,255);
  -webkit-box-shadow: 1px 1px 5px rgb(30,150,255);
}

/*--*/

input[type=checkbox][class*=middle][class*=switch]:not(:disabled){
  width: 50px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=middle][class*=switch]:not(:disabled) + label {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-radius: 5px;
}
input[type=checkbox][class*=middle][class*=switch]:not(:disabled)::before{
  content: "\00A0on";
  color:rgb(20,130,255);
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  -webkit-transform: translate(0px,-2px) !important;
  border: 2px solid rgb(20,130,255);
  border-radius: 10px;
  background: rgb(205,255,255);
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=middle][class*=switch]:checked:not(:disabled)::before{
  border-color:rgb(0,80,255);
  background:rgb(205,230,255);
}
input[type=checkbox][class*=middle][class*=switch]:not(:disabled)::after{
  content: "";
  display: block;
  position: relative;
  background: rgb(20,130,255);
  width:30px;
  height:17px;
  border-radius:10px;
  -webkit-transform: translate(0px,-20px) !important;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=middle][class*=switch]:not(:disabled):checked::after{
  -webkit-transform: translate(23px,-20px) !important;
  background:rgb(0,80,255);
  -webkit-box-shadow: 1px 1px 5px rgb(10,100,255);
}

/*--*/

input[type=checkbox][class*=dark][class*=switch]:not(:disabled){
  width: 50px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=dark][class*=switch]:not(:disabled) + label {
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-radius: 5px;
}
input[type=checkbox][class*=dark][class*=switch]:not(:disabled)::before{
  content: "\00A0on";
  color:rgb(0,80,150);
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  border: 2px solid rgb(0,80,150);
  border-radius: 10px;
  background: rgb(0,155,255);
  -webkit-transform: translate(0px,-2px) !important;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=dark][class*=switch]:not(:disabled):checked::before{
  border-color:rgb(0,20,100);
  background:rgb(20,150,255);
}
input[type=checkbox][class*=dark][class*=switch]:not(:disabled)::after{
  content: "";
  display: block;
  position: relative;
  background: rgb(0,80,150);
  width:30px;
  height:17px;
  border-radius:10px;
  -webkit-transform: translate(0px,-20px) !important;
  -webkit-transition-duration: 0.35s;
}
input[type=checkbox][class*=dark][class*=switch]:not(:disabled):checked::after{
  -webkit-box-shadow: 1px 1px 5px rgb(0,80,150);
  -webkit-transform: translate(23px,-20px) !important;
  background:rgb(0,20,100);
}

/*-- input[type=checkbox] - checkbox - switch - disabled --*/

input[type=checkbox][class*=bright][class*=switch]:disabled{
  width: 50px;
  cursor:not-allowed;
}
input[type=checkbox][class*=bright][class*=switch]:disabled + label {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-radius: 5px;
  filter:grayscale(60%);
}
input[type=checkbox][class*=bright][class*=switch]:disabled::before{
  content: "";
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  border: 2px solid rgb(50,200,255);
  border-radius: 10px;
  background: rgb(240,255,255);
  -webkit-transform: translate(0px,-2px) !important;
  filter:grayscale(60%);
}
input[type=checkbox][class*=bright][class*=switch]:disabled::after{
  content: "";
  display: block;
  position: relative;
  background: rgb(50,200,255);
  width:30px;
  height:17px;
  border-radius:10px;
  -webkit-transform: translate(0px,-20px) !important;
  filter:grayscale(60%);
}
input[type=checkbox][class*=bright][class*=switch]:disabled:checked::after{
  -webkit-transform: translate(23px,-20px) !important;
  background: rgb(50,150,255);
  -webkit-box-shadow: 1px 1px 5px rgb(30,150,255);
}

/*--*/

input[type=checkbox][class*=middle][class*=switch]:disabled{
  cursor:not-allowed;
  width: 50px;
}
input[type=checkbox][class*=middle][class*=switch]:disabled + label {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-radius: 5px;
  filter:grayscale(60%);
}
input[type=checkbox][class*=middle][class*=switch]:disabled::before{
  content: "";
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  -webkit-transform: translate(0px,-2px) !important;
  border: 2px solid rgb(20,130,255);
  border-radius: 10px;
  background: rgb(205,255,255);
  filter:grayscale(60%);
}
input[type=checkbox][class*=middle][class*=switch]:disabled::after{
  content: "";
  display: block;
  position: relative;
  background: rgb(20,130,255);
  width:30px;
  height:17px;
  border-radius:10px;
  -webkit-transform: translate(0px,-20px) !important;
  filter:grayscale(60%);
}

/*--*/

input[type=checkbox][class*=dark][class*=switch]:disabled{
  cursor:not-allowed;
  width: 50px;
}
input[type=checkbox][class*=dark][class*=switch]:disabled + label {
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-radius: 5px;
  filter:grayscale(60%);
}
input[type=checkbox][class*=dark][class*=switch]:disabled::before{
  content: "";
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  border: 2px solid rgb(0,80,150);
  border-radius: 10px;
  background: rgb(0,155,255);
  -webkit-transform: translate(0px,-2px) !important;
  filter:grayscale(60%);
}
input[type=checkbox][class*=dark][class*=switch]:disabled::after{
  content: "";
  display: block;
  position: relative;
  background: rgb(0,80,150);
  width:30px;
  height:17px;
  border-radius:10px;
  -webkit-transform: translate(0px,-20px) !important;
  filter:grayscale(60%);
}

/*--input - radio --*/

input[class*=bright][type=radio]:not(:disabled){
  cursor:pointer;
}
input[class*=bright][type=radio]:not(:disabled) + label {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class*=bright][type=radio]:not(:disabled):hover, input[class*=bright][type=radio]:not(:disabled) + label:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(205,255,255);
}
input[class*=bright][type=radio]:not(:disabled):active, input[class*=bright][type=radio]:not(:disabled) + label:active{
  -webkit-transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 5px rgb(180,235,255);
}
input[class*=bright][type=radio]:not(:disabled):checked + label{
  background:rgb(200,250,250);
  color:rgb(40,140,240);
}
input[class*=bright][type=radio]:not(:disabled):checked::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(20,150,255);
  background: rgb(220,255,255);
  -webkit-transition: 0.35s;
}
input[class*=bright][type=radio]:not(:disabled):not(checked)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,150,255);
  border-radius: 25px;
  background: rgb(240,255,255);
}
input[class*=bright][type=radio]:not(:disabled):not(checked)::after {
  content: "";
  display: block;
  visibility: hidden;
  border: solid rgb(240,255,255); /*to hide the √ smoothly*/
  width: 0px;
  height: 0px;
  border-width: 0px 0px 0px 0px;
  -webkit-transform: translate(8px,-8px) !important; 
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.35s;
}
input[class*=bright][type=radio]:not(:disabled):checked::after {
  content: "";
  display: block;
  visibility: visible;
  width: 15px;
  height: 15px;
  border: solid rgb(50,150,255);
  border-width: 0px 0px 0px 0px;
  border-radius:20px;
  -webkit-transform: translate(0px,-15px) !important;  
  background:rgb(50,150,255);
  position: relative;

}

/*--*/

input[class*=middle][type=radio]:not(:disabled){
  cursor:pointer;
}
input[class*=middle][type=radio]:not(:disabled) + label {
  color:rgb(10,50,255);
  background:rgb(150,220,255);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class*=middle][type=radio]:not(:disabled):hover, input[class*=middle][type=radio]:not(:disabled) + label:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(150,220,255);
}
input[class*=middle][type=radio]:not(:disabled):active, input[class*=middle][type=radio]:not(:disabled) + label:active{
  -webkit-transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 5px rgb(150,220,255);
}
input[class*=middle][type=radio]:not(:disabled):checked + label{
  background:rgb(120,210,255);
  color:rgb(10,10,255);
}
input[class*=middle][type=radio]:not(:disabled):checked::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,100,255);
  background: rgb(180,220,255);
  -webkit-transition: 0.35s;
}
input[class*=middle][type=radio]:not(:disabled):not(checked)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,130,240);
  border-radius: 25px;
  background: rgb(200,240,255);
}
input[class*=middle][type=radio]:not(:disabled):not(checked)::after {
  content: "";
  display: block;
  visibility: hidden;
  border: solid rgba(150,220,255,0);
  width: 0px;
  height: 0px;
  border-width: 0px 0px 0px 0px;
  -webkit-transform: translate(8px,-8px) !important; 
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.35s;
}
input[class*=middle][type=radio]:not(:disabled):checked::after {
  content: "";
  display: block;
  visibility: visible;
  width: 15px;
  height: 15px;
  border: solid 1px rgb(50,50,255);
  border-width: 0px 0px 0px 0px;
  border-radius:20px;
  -webkit-transform: translate(0px,-15px) !important;  
  background:rgb(50,150,255);
  position: relative;

}

/*--*/

input[class*=dark][type=radio]:not(:disabled){
  cursor:pointer;
}
input[class*=dark][type=radio]:not(:disabled) + label {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class*=dark][type=radio]:not(:disabled):hover, input[class*=dark][type=radio]:not(:disabled) + label:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(150,200,205);
}
input[class*=dark][type=radio]:not(:disabled):active, input[class*=dark][type=radio]:not(:disabled) + label:active{
  -webkit-transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 5px rgb(50,100,205);
}
input[class*=dark][type=radio]:not(:disabled):checked + label{
  color: rgb(120,230,255);
  background: rgb(20,90,205);
}
input[class*=dark][type=radio]:not(:disabled):checked::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(20,90,205);
  background: rgb(100,180,255);
  -webkit-transition: 0.35s;
}
input[class*=dark][type=radio]:not(:disabled):not(checked)::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,50,255);
  border-radius: 25px;
  background: rgb(160,200,255);
}
input[class*=dark][type=radio]:not(:disabled):not(checked)::after {
  content: "";
  display: block;
  visibility: hidden;
  border: solid rgba(50,100,205,0); /*to hide the √ smoothly*/
  width: 0px;
  height: 0px;
  border-width: 0px 0px 0px 0px;
  -webkit-transform: translate(8px,-8px) !important; 
  position: relative;
  -webkit-transition: 0.35s;
}
input[class*=dark][type=radio]:not(:disabled):checked::after {
  content: "";
  display: block;
  visibility: visible;
  width: 15px;
  height: 15px;
  border: solid rgb(20,10,255);
  background:rgb(20,10,255);
  border-width: 0px 0px 0px 0px;
  border-radius:20px;
  -webkit-transform: translate(0px,-15px) !important; 
  position: relative;
}

/*--input - radio - disabled --*/

input[class*=bright][type=radio]:disabled{
  cursor:not-allowed;
}
input[class*=bright][type=radio]:disabled + label {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class*=bright][type=radio]:disabled::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,150,255);
  border-radius: 25px;
  background: rgb(240,255,255);
  filter:grayscale(60%);
}
/*--*/

input[class*=middle][type=radio]:disabled{
  cursor:not-allowed;
}
input[class*=middle][type=radio]:disabled + label {
  color:rgb(10,50,255);
  background:rgb(150,220,255);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class*=middle][type=radio]:disabled::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,130,240);
  border-radius: 25px;
  background: rgb(200,240,255);
  filter:grayscale(60%);
}

/*--*/

input[class*=dark][type=radio]:disabled{
  cursor:not-allowed;
}
input[class*=dark][type=radio]:disabled + label {
  color: rgb(120,220,255);
  background: rgb(50,100,205);
  border-style:none;
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class*=dark][type=radio]:disabled::before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(50,50,255);
  border-radius: 25px;
  background: rgb(160,200,255);
  filter:grayscale(60%);
}

/*--input - color --*/

input[class*=bright][type=color]:not(:disabled){
  visibility:hidden;
}
input[class*=bright][type=color]:not(:disabled)::-webkit-color-swatch:active{
  float:left;
  border-style:none;
  border-radius:10px;
  -webkit-transition-duration: 0.1s;
  background:rgb(120,230,255);
  -webkit-box-shadow: 0px 0px 10px 2px rgb(50,200,255);
}
input[class*=bright][type=color]:not(:disabled)::-webkit-color-swatch:hover{
  -webkit-box-shadow: 0px 0px 10px 2px rgb(130,230,255);
}
input[class*=bright][type=color]:not(:disabled)::-webkit-color-swatch {
  border-radius:10px;
  display: block;
  position: relative;
  visibility:visible !important;
  cursor:pointer;
  -webkit-box-shadow: 0px 0px 10px 2px rgb(160,230,255);
  -webkit-transition-duration: 0.35s;
  }
/*--*/
input[class*=middle][type=color]:not(:disabled){
  visibility:hidden;
}
input[class*=middle][type=color]:not(:disabled)::-webkit-color-swatch:active{
  float:left;
  border-style:none;
  border-radius:10px;
  -webkit-transition-duration: 0.1s;
  background:rgb(120,230,255);
  -webkit-box-shadow: 0px 0px 10px 2px rgb(10,100,255);
}
input[class*=middle][type=color]:not(:disabled)::-webkit-color-swatch:hover{
  -webkit-box-shadow: 0px 0px 10px 2px rgb(10,120,255);
}
input[class*=middle][type=color]:not(:disabled)::-webkit-color-swatch {
  border-radius:10px;
  display: block;
  position: relative;
  visibility:visible !important;
  cursor:pointer;
  -webkit-box-shadow: 0px 0px 10px 2px rgb(50,150,255);
  -webkit-transition-duration: 0.35s;
  }
/*--*/
input[class*=dark][type=color]:not(:disabled){
  visibility:hidden;
}
input[class*=dark][type=color]:not(:disabled)::-webkit-color-swatch:active{
  float:left;
  border-style:none;
  border-radius:10px;
  -webkit-transition-duration: 0.1s;
  background:rgb(120,230,255);
  -webkit-box-shadow: 0px 0px 10px 2px rgb(10,20,255);
}
input[class*=dark][type=color]:not(:disabled)::-webkit-color-swatch:hover{
  -webkit-box-shadow: 0px 0px 10px 2px rgb(10,50,255);
}
input[class*=dark][type=color]:not(:disabled)::-webkit-color-swatch {
  border-radius:10px;
  display: block;
  position: relative;
  visibility:visible !important;
  cursor:pointer;
  -webkit-box-shadow: 0px 0px 10px 2px rgb(10,80,255);
  -webkit-transition-duration: 0.35s;
  }

/*--input - color -disabled --*/

input[class*=bright][type=color]:disabled{
  visibility:hidden;
}
input[class*=bright][type=color]:disabled::-webkit-color-swatch {
  border-radius:10px;
  display: block;
  position: relative;
  visibility:visible !important;
  cursor:not-allowed;
  -webkit-box-shadow: 0px 0px 10px 2px rgb(160,230,255);
  filter:grayscale(60%);
  }
/*--*/
input[class*=middle][type=color]:disabled{
  visibility:hidden;
}
input[class*=middle][type=color]:disabled::-webkit-color-swatch {
  border-radius:10px;
  display: block;
  position: relative;
  visibility:visible !important;
  cursor:not-allowed;
  -webkit-box-shadow: 0px 0px 10px 2px rgb(50,150,255);
  filter:grayscale(60%);
  }
/*--*/
input[class*=dark][type=color]:disabled{
  visibility:hidden;
}
input[class*=dark][type=color]:disabled::-webkit-color-swatch {
  border-radius:10px;
  display: block;
  position: relative;
  visibility:visible !important;
  cursor:not-allowed;
  -webkit-box-shadow: 0px 0px 10px 2px rgb(10,80,255);
  filter:grayscale(60%);
  }

/*--input - range--*/

input[class="bright"][type="range"]:not(:disabled){
  outline: none;
  -webkit-appearance: none;
  height: 5px;
  background: linear-gradient(to right, rgb(50,150,255), rgb(120,250,255));
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class="bright"][type="range"]:not(:disabled):active{
  background: linear-gradient(to right, rgb(30,130,255), rgb(80,255,255));
}
input[class="bright"][type="range"]:not(:disabled) + label{
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-radius:5px;
  display: inline-block;
}
input[class="bright"][type="range"]:not(:disabled)::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow:0px 0px 5px 1px rgb(100,200,255);
  width: 12px;
  height:12px;
  border-radius:10px;
  background:rgb(205,255,255);
  -webkit-transition-duration: 0.35s;
}
input[class="bright"][type="range"]:not(:disabled)::-webkit-slider-thumb:hover{
  background:rgb(160,230,255);
}
input[class="bright"][type="range"]:not(:disabled)::-webkit-slider-thumb:active{
  -webkit-box-shadow:0px 0px 6px 1px rgb(50,150,255);
  background:rgb(120,230,255);
  width: 15px;
  height:15px;
  border-radius:15px;
}

/*--*/

input[class="middle"][type="range"]:not(:disabled){
  outline: none;
  -webkit-appearance: none;
  height: 5px;
  background: linear-gradient(to right, rgb(10,100,255), rgb(100,200,255));
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class="middle"][type="range"]:not(:disabled):active{
  background: linear-gradient(to right, rgb(0,50,255), rgb(80,220,255));
}
input[class="middle"][type="range"]:not(:disabled) + label{
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-radius:5px;
  display: inline-block;
}
input[class="middle"][type="range"]:not(:disabled)::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow:0px 0px 5px 1px rgb(100,200,255);
  width: 12px;
  height:12px;
  border-radius:10px;
  background:rgb(100,200,255);
  -webkit-transition-duration: 0.35s;
}
input[class="middle"][type="range"]:not(:disabled)::-webkit-slider-thumb:hover{
  background:rgb(80,180,240);
}
input[class="middle"][type="range"]:not(:disabled)::-webkit-slider-thumb:active{
  -webkit-box-shadow:0px 0px 6px 1px rgb(160,260,255);
  background:rgb(50,180,255);
  width: 15px;
  height:15px;
  border-radius:15px;
}

/*--*/

input[class="dark"][type="range"]:not(:disabled){
  outline: none;
  -webkit-appearance: none;
  height: 5px;
  background: linear-gradient(to right, rgb(0,80,150), rgb(10,180,255));
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
}
input[class="dark"][type="range"]:not(:disabled):active{
  background: linear-gradient(to right, rgb(0,50,120), rgb(50,200,255));
}
input[class="dark"][type="range"]:not(:disabled) + label{
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-radius:5px;
  display: inline-block;
}
input[class="dark"][type="range"]:not(:disabled)::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow:0px 0px 5px 1px rgb(0,80,150);
  width: 12px;
  height:12px;
  border-radius:10px;
  background:rgb(50,150,200);
  -webkit-transition-duration: 0.35s;
}
input[class="dark"][type="range"]:not(:disabled)::-webkit-slider-thumb:hover{
  background:rgb(30,120,200);
}
input[class="dark"][type="range"]:not(:disabled)::-webkit-slider-thumb:active{
  -webkit-box-shadow:0px 0px 6px 1px rgb(205,255,255);
  background:rgb(30,100,180);
  width: 15px;
  height:15px;
  border-radius:15px;
}

/*--input - range - disabled--*/

input[class="bright"][type="range"]:disabled{
  outline: none;
  -webkit-appearance: none;
  height: 5px;
  background: linear-gradient(to right, rgb(50,150,255), rgb(120,250,255));
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class="bright"][type="range"]:disabled + label{
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border-radius:5px;
  display: inline-block;
  filter:grayscale(60%);
}
input[class="bright"][type="range"]:disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow:0px 0px 5px 1px rgb(100,200,255);
  width: 12px;
  height:12px;
  border-radius:10px;
  background:rgb(205,255,255);
  filter:grayscale(60%);
}

/*--*/

input[class="middle"][type="range"]:disabled{
  outline: none;
  -webkit-appearance: none;
  height: 5px;
  background: linear-gradient(to right, rgb(10,100,255), rgb(100,200,255));
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class="middle"][type="range"]:disabled + label{
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border-radius:5px;
  display: inline-block;
  filter:grayscale(60%);
}
input[class="middle"][type="range"]:disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow:0px 0px 5px 1px rgb(100,200,255);
  width: 12px;
  height:12px;
  border-radius:10px;
  background:rgb(100,200,255);
  filter:grayscale(60%);
}

/*--*/

input[class="dark"][type="range"]:disabled{
  outline: none;
  -webkit-appearance: none;
  height: 5px;
  background: linear-gradient(to right, rgb(0,80,150), rgb(10,180,255));
  border-radius:5px;
  cursor:not-allowed;
  filter:grayscale(60%);
}
input[class="dark"][type="range"]:disabled + label{
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border-radius:5px;
  display: inline-block;
  filter:grayscale(60%);
}
input[class="dark"][type="range"]:disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow:0px 0px 5px 1px rgb(0,80,150);
  width: 12px;
  height:12px;
  border-radius:10px;
  background:rgb(50,150,200);
  filter:grayscale(60%);
}

/*--table--*/

table[class*=bright] {
  background:rgb(250,255,255);
  border-radius:5px;
  border-color:rgb(50,150,255);
}
table[class*=bright] th{
  color:rgb(20,100,255);
  border-radius:5px;
  border-color:rgb(50,150,255);
}
table[class*=bright] td{
  color:rgb(30,120,255);
  border-radius:5px;
}
table[class*=bright] tr{
  background:rgb(220,255,255);
   -webkit-transition-duration: 0.1s;
}
table[class*=bright] tr:hover{
   background:rgb(180,250,255);
  -webkit-box-shadow: 1px 1px 5px rgb(200,250,255);
}

/*--*/

table[class*=middle] {
  background:rgb(160,250,255);
  border-radius:5px;
  border-color:rgb(50,10,255);
}
table[class*=middle] th{
  color:rgb(10,50,255);
  border-radius:5px;
  border-color:rgb(50,150,255);
}
table[class*=middle] td{
  color:rgb(50,10,255);
  border-radius:5px;
}
table[class*=middle] tr{
  background:rgb(150,220,255);
   -webkit-transition-duration: 0.1s;
}
table[class*=middle] tr:hover{
   background:rgb(100,200,255);
  -webkit-box-shadow: 1px 1px 5px rgb(100,200,255);
}

/*--*/

table[class*=dark] {
  background: rgb(100,200,205);
  border-radius:5px;
  border-color:rgb(50,10,255);
}
table[class*=dark] th{
  color:rgb(100,230,255);
  border-radius:5px;
  border-color:rgb(50,150,255);
}
table[class*=dark] td{
  color:rgb(120,220,255);
  border-radius:5px;
}
table[class*=dark] tr{
  background:rgb(50,100,205);
   -webkit-transition-duration: 0.1s;
}
table[class*=dark] tr:hover{
   background:rgb(10,50,210);
  -webkit-box-shadow: 1px 1px 5px rgb(10,50,210);
}

/*-- abbr --*/

abbr[class*=bright]{
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-radius: 2px;
  text-decoration: underline dotted rgb(30,150,230);
  position:relative;
}
abbr[class*=bright]:hover::after{
  /*code from here: https://stackoverflow.com/questions/47695771/css-pseudo-element-tooltip-has-the-same-width-as-the-original-element*/
  color: rgb(50,200,255);
  background: rgba(235,255,255,0.8);
  content:attr(hint);
  position:absolute;
  padding: 2px 5px;
  bottom: 0; right: 0;
  transform: translate(100%, 50%);
  border-radius:2px;
  width:500px;
  height:20px;
  font-size:20px;
  overflow:hidden;
  opacity: 0;
  -webkit-animation:FadeinABBR 0.5s;
  -webkit-animation-delay:0.5s;
  -webkit-animation-fill-mode: forwards;
}

/*--*/

abbr[class*=middle]{
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius: 2px;
  text-decoration: underline dotted rgb(30,150,230);
  position:relative;
}
abbr[class*=middle]:hover::after{
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  content:attr(hint);
  position:absolute;
  padding: 2px 5px;
  bottom: 0; right: 0;
  transform: translate(100%, 50%);
  border-radius:2px;
  width:500px;
  height:20px;
  font-size:20px;
  overflow:hidden;
  opacity: 0;
  -webkit-animation:FadeinABBR 0.5s;
  -webkit-animation-delay:0.5s;
  -webkit-animation-fill-mode: forwards;
}

/*--*/

abbr[class*=dark]{
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius: 2px;
  text-decoration: underline dotted rgb(30,150,230);
  position:relative;
}
abbr[class*=dark]:hover::after{
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  content:attr(hint);
  position:absolute;
  padding: 2px 5px;
  bottom: 0; right: 0;
  transform: translate(100%, 50%);
  border-radius:2px;
  width:500px;
  height:20px;
  font-size:20px;
  overflow:hidden;
  opacity: 0;
  -webkit-animation:FadeinABBR 0.5s;
  -webkit-animation-delay:0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes FadeinABBR
{
	from {opacity: 0;}
	to {opacity: 1;}
}
