abbr[class*=bright]{
  color: rgb(50,200,255);
  background: rgb(235,255,255);
  border-radius: 2px;
  text-decoration: underline dotted rgb(30,150,230);
  position:relative;
}
abbr[class*=bright]:hover::after{
  /*code from here: https://stackoverflow.com/questions/47695771/css-pseudo-element-tooltip-has-the-same-width-as-the-original-element*/
  color: rgb(50,200,255);
  background: rgba(235,255,255,0.8);
  content:attr(hint);
  position:absolute;
  padding: 2px 5px;
  bottom: 0; right: 0;
  transform: translate(100%, 50%);
  border-radius:2px;
  width:500px;
  height:20px;
  font-size:20px;
  overflow:hidden;
  opacity: 0;
  -webkit-animation:FadeinABBR 0.5s;
  -webkit-animation-delay:0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes FadeinABBR
{
	from {opacity: 0;}
	to {opacity: 1;}
}
