/*--button--*/
button[class=dark] {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border:none;
  border-radius:10px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class=dark]:hover {
  color:rgb(50,155,255);
  background:rgb(205,255,255);
}
button[class=dark]:active{
  color:rgb(20,155,255);
  background:rgb(180,225,225);
}
/*--*/
button[class=bright] {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border:none;
  border-radius:10px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class=bright]:hover {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
}
button[class=bright]:active{
  color:rgb(160,255,255);
  background:rgb(20,130,255);
}
/*--p--*/
