/*Common*/
.selfFit{
  display:inline-block;
}
/*--button--*/
button[class*=dark] {
  background:rgb(0,80,150);
  color:rgb(0,155,255);
  border:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=dark]:hover {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
}
button[class*=dark]:active{
  -webkit-transition-duration: 0.1s;
  color:rgb(160,255,255);
  background:rgb(20,120,200);
}
/*--*/
button[class*=middle] {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
  border:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=middle]:hover {
  color:rgb(50,155,255);
  background:rgb(205,255,255);
}
button[class*=middle]:active{
  -webkit-transition-duration: 0.1s;
  color:rgb(20,155,255);
  background:rgb(180,225,225);
}
/*--*/
button[class*=bright] {
  color:rgb(50,150,255);
  background:rgb(205,255,255);
  border:none;
  border-radius:5px;
  cursor:pointer;
  -webkit-transition-duration: 0.35s;
  -webkit-animation-timing-function:background cubic-bezier(1,1,1,1,1,0);
  -webkit-animation-timing-function:color cubic-bezier(0,0,0,0,0,1);
}
button[class*=bright]:hover {
  background:rgb(0,155,255);
  color:rgb(205,255,255);
}
button[class*=bright]:active{
  -webkit-transition-duration: 0.1s;
  color:rgb(160,255,255);
  background:rgb(20,130,255);
}


/*--p--*/
p[class*=dark] {
  background:rgb(20,100,170);
  color:rgb(100,200,255);
  border-radius:10px;
}
/*--*/
p[class*=middle] {
  background:rgb(50,150,220);
  color:rgb(205,255,255);
  border-radius:10px;
}
/*--*/
p[class*=bright] {
  color:rgb(50,200,255);
  background:rgb(235,255,255);
  border-radius:10px;
}
